<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <style>
  
.navv{
    display:flex;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
    background-color: black;
   }

.menu{
    width: 100%;
    height: 50px;
    
}

.menu ul{
    list-style: none;
    display: flex;
    gap: 40px;
    font: weight 400px;;
    font-size: 20px;
    font-family:'Roboto', sans-serif;
    color: #ababab;
    margin: 0;
}
.menu li:hover,a:hover{
    color:#00b32d;
    cursor: pointer;
}
a {
    text-decoration: none;
    color: #ababab;
}
    </style>
</head>
<body>
    <header class="nav">
    <div class="menu">
        <ul>
          <li ><a href="/" style="color:#00b32d">Home</a></li>
          <li><a href="/service">Services</a></li>
          <li><a href="/contact">Contact Us</a></li>
        </ul>
      </div>
</header>
<div style="width: 100vw;height: 100vh;">
<img style="width: 100%;height: 80%;" src="https://media.tenor.com/2pB1ng_3qQsAAAAM/welcome.gif alt="welcome message"/>
</div>

</body>
</html>